<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/notepad_launcher"
        android:label="@string/notepad"
        android:roundIcon="@mipmap/notepad_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NotepadAppTheme"
        tools:targetApi="31">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NoteUpdateActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creativehazio.notepadapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NoteActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creativehazio.notepadapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="uiMode"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>